/* Root variables for colors */
:root {
    --background-color: #000000;
    --text-color: #ffffff;
    --accent-color: #8338ec;
}

/* Container styling */
.order-confirmed-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: var(--background-color);
    color: var(--text-color);
    min-height: 80vh;
    text-align: center;
    animation: fadeIn 1s ease-in-out;
}

/* Heading styling */
.order-confirmed-container h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: var(--accent-color);
    animation: dropIn 0.8s ease-in-out;
}

/* Paragraph styling */
.order-confirmed-container p {
    font-size: 1rem;
    margin-bottom: 2rem;
    animation: fadeIn 1s ease-in-out;
}

/* Link styling */
.link-home {
    padding: 1rem 2rem;
    background-color: var(--accent-color);
    color: var(--text-color);
    font-weight: 700;
    text-decoration: none;
    border-radius: 1.5rem;
    transition: background-color 0.3s ease;
    animation: fadeIn 1s ease-in-out;
}

.link-home:hover {
    background-color: #9d5ce5;
}

/* Map container */
.map-container {
    margin-top: 2rem;
    animation: slideIn 0.8s ease-in-out;
}

.google-maps {
    max-width: 45%;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes dropIn {
    from {
        transform: translateY(-30px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(30px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Responsive design */
@media (max-width: 768px) {
    .order-confirmed-container h1 {
        font-size: 2.5rem;
    }

    .order-confirmed-container p {
        font-size: 1.2rem;
    }
}