.orderCon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
}

.orderCon > h1 {
    font-weight: 700;
    font-size: 5rem;
}

.orderCon > p {
    font-size: 2rem;
    margin-top: 1.2rem;
}

.linkHome {
    margin-top: 2rem;
    padding: 1rem 2rem;
    background-color: #4F2683;
    color: white;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
    border-radius: 1.5rem;
}

.linkHome:hover {
    background-color: #684d8a;
}

.penis {
    margin-top: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.googleMaps {
    height: 30rem;
}